#Back{
    padding: 5%;
    background-image: url(../IMAGES/1.jpg);
}

h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: rgb(255, 255, 255);
}

main{
        background-color: rgb(240, 228, 194);
        width: 75%;
        margin-left: 12.5%;
}


main h1{
    color: rgb(170, 159, 7);
    text-align: center;
}
 
main p{
    text-align: center;
}


li{
    text-decoration: none;
    display: inline-flex;
    justify-content: center;
    color: aliceblue;
    list-style: none;
    text-align: center;
    padding: .6%;
    width: 23%;
}


li:hover{
    color: red;
    background-color: blanchedalmond;
    list-style: none;
}

a{
    color: brown;
    text-decoration: none;
}

#total{
    width: 100%;
}

#gatito{
    float: left;
    width: 50%;
    background-color: rgb(189, 119, 14);


}
#texto{
    float: left;
    width: 50%;
    background-color: rgb(255, 6, 26);

}